@font-face {
    font-family: 'Arimo';
    src: url(./assets/font/static/Arimo-Regular.ttf);
}

@font-face {
    font-family: 'Roboto-Light';
    src: url(./assets/font/Roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url(./assets/font/Roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url(./assets/font/Roboto/Roboto-Regular.ttf);
}

html {
    scroll-behavior: smooth;
}


body {
    font-family: 'Arimo';
    background: #000000;
}

a {
    color: #727D8D;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
}

a:hover {
    color: white;
    transform: scale(1.2);
}

nav {
    width: 30%;
}


header {
    width: 100%;
    flex-wrap: wrap;
    padding: 10px 0px 10px 0px;
    background: #000000;
}

.list-nav {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}


.flexbox-space-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flexbox-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-inicio {
    color: #727D8D;
    text-decoration: none;
    width: 100%;
    margin-top: 20px;
}


h2 {
    font-size: 2.7em;
    color: #4AC1B6;
    width: 90%;
    text-transform: uppercase;
    font-weight: 600;
}

.container-inicio p {
    font-size: 1.7em;
    padding-bottom: 50px;
    width: 90%;
    font-family: 'Roboto-Light';
}

.container-inicio {
    width: 17%;
    list-style: none;
    margin: 0;
    padding: 60px;
    flex-wrap: wrap;
}

.section-inicio img {
    width: 40%;
}

.btn-portfolio {
    width: 300%;
    height: 50px;
    color: #4AC1B6;
    background-color: #0C4964;
    border: 0;
    outline: 0;
    border-radius: 15px;
    font-family: 'Roboto-Medium';
    font-size: 1.5em;
}

.btn-portfolio:hover {
    cursor: pointer;
    background-color: #727D8D;
    color: white;
    transform: scale(1.01);
}

.section-info {
    color: #727D8D;
    text-decoration: none;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-top: 20px;
}


.container-info p {
    font-size: 1.7em;
}

.container-info {
    width: 75%;
}

.section-servicios {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-servicios {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.container-servicios p {

    font-weight: 300;
    text-transform: uppercase;
    color: #4AC1B6;
    font-family: 'Roboto-Medium';
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;

}

.servicio {
    background: #0C4964;
    position: relative;
    width: 27%;
    margin: 30px 0px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 10px;
}

.servicio img {
    width: 100%;
    margin: 0;
    padding: 0;
}

.servicio:hover {
    transform: scale(1.02);
}

.servicio button {
    width: 80%;
    height: 50px;
    background-color: #4AC1B6;
    color: black;
    border: 0;
    outline: 0;
    border-radius: 15px;
    font-family: 'Roboto-Medium';
    font-size: 1.4em;
}

.servicio button:hover {
    cursor: pointer;
    background-color: #727D8D;
    color: white;
    transform: scale(1.2);
}


.section-clientes {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 40px;
}

.section-clientes h3 {
    color: #727D8D;
    text-decoration: none;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    font-size: 1.8em;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container-clientes {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.container-clientes p {
    font-family: 'Roboto-Medium';
    font-size: 1.5em;
    font-weight: 300;
    text-transform: uppercase;
    color: #4AC1B6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cliente {
    background: #0C4964;
    position: relative;
    width: 20%;
    margin: 30px 0px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 10px;
}

.cliente:hover {
    transform: scale(1.1);
    cursor: pointer;
}



.section-contacto {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 40px;
}

.section-contacto h3 {
    color: #727D8D;
    text-decoration: none;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 1.8em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-contacto {
    width: 75%;
    background: #0C4964;
    border-radius: 15px;
}


.list {
    list-style: none;
}

.list li {
    display: flex;
    align-items: center;
}

.icon-list {
    width: 70px;
    height: 70px;
    margin-right: 1rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: black;
    background-color: #4AC1B6;

}

.list p {
    font-family: 'Roboto-Medium';
    color: black;
    font-size: large;
}

iframe {
    width: 50%;
    border-radius: 10px;
    padding: 5px 0px;
}


footer {
    color: #727D8D;
    display: flex;
    justify-content: center;
    align-items: center;
}



@media (max-width: 829px) and (min-width:419px) {
    header {
        width: 100%;
        flex-direction: column;
        justify-content: center;

    }

    nav {
        width: 60%;
    }

    .list-nav {
        margin-top: 20px;
        margin-bottom: 10px;
        width: 100%;
    }

    .container-servicios {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

/*(@media (max-width: 419px)  MENU HAMBURGUESA*/